@model Student
@{
	ViewData["Title"] = $"Редактирование студента {Model.FullName}";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Update">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row mb-3">
        <div class="col-4">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger small"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger small"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <label asp-for="MiddleName" class="form-label"></label>
            <input asp-for="MiddleName" class="form-control" />
            <span asp-validation-for="MiddleName" class="text-danger small"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <label asp-for="DateBirth" class="form-label"></label>
            <input asp-for="DateBirth" class="form-control" />
            <span asp-validation-for="DateBirth" class="text-danger small"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-4">
            <a asp-action="Index" class="btn btn-outline-secondary">Отмена</a>
            <button type="submit" class="btn btn-outline-primary">Сохранить</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript"></script>
}